.navbar {
    box-shadow: 0px 1px 5px gray;
    background-color: #ffffff;
    height: 100% !important;
  }
  
  .content-wrapper {
    min-height: 100%;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Make sure content starts from the top */
  }
  
  .antfooter {
    width: 100%;
  }
  
  .welcome {
    font-size: x-small;
  }
  .docname {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: red;
  }
  
  .docimage {
    border-radius: 50%;
    border: 3px solid rgb(197, 196, 196);
    object-fit: cover;
  }
  
  /*  */
  .navbar .first-cont :hover {
    cursor: pointer;
  }
  
  
  @media screen and (max-width: 768px) {
    .opentab {
      display: inline-block !important;
    }
  
    .book-cont {
      display: none;
    }
  
    .first-cont {
      display: none !important;
    }
    .header-logo-right-div {
      display: none !important;
    }
    .headerline {
      display: none !important;
    }
  
    .navbar .second-cont {
      display: none !important;
    }
    .closetab {
      display: inline-block !important;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .navbar .first-cont {
      display: flex;
      flex-direction: row;
      width: 224px;
      height: 50px;
    }
  
    .navbar .headerline {
      width: 400px !important;
    }
  
    .header-logo-right-div {
      width: 768px;
    }
    .navbar .book-cont {
      background: #fc0000;
      border-radius: 25px;
      border-bottom: 5px solid rgb(222, 222, 222);
      color: white;
    }
  }
  
  @media only screen and (max-width: 1440px) {
    
    .navbar .headerline {
      width: 528px;
    }
  }
  @media only screen and (max-width: 1366px) {
    .navbar .headerline {
      width: 550px;
    }
  }
  
  .opentab {
    width: 35px;
    height: 35px;
    display: none;
    z-index: 1000;
  }
  
  .closetab {
    width: 35px;
    height: 35px;
    display: none;
  }
  
  .menubar {
    width: 220px !important;
  }
  
  .vertical-line {
    width: 2px; /* Set the width of the vertical line */
    margin-top: 3px;
    margin-bottom: 3px;
    height: 42px; /* Set the height of the vertical line */
    margin-left: 4px;
    margin-right: 4px;
    background-color: #9e9e9e;
  }
  
  
  .menuhead {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    margin-right: 15px;
    padding-left: 2px;
  }
  
  .ant-layout-sider {
    /* height: 83.3vh !important; */
    max-width: 220px !important;
    min-width: 220px !important;
    width: 220px !important;
    padding-bottom: 0 !important;
    position: fixed !important;
    margin-top: 110px;
  }
  
  /* Breadcrumb */
  .ant-breadcrumb-link {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  /* footer */
  
  .ant-layout-footer {
    text-align: end !important;
    z-index: 6;
    background-color: gray;
  
    padding: 0px 40px;
    color: white;
    position: fixed;
    bottom: 0;
  }
  
  /* .menubar */
  .ant-layout-sider-children {
    /* background-color: white; */
    height: 79.6vh !important;
    overflow-y: scroll;
    /* background-color: #e21c21; */
  }
  
  @media screen and (width: 1366px) {
    .ant-layout-sider-children {
      height: 79.6vh !important;
    }
  }
  
  .ant-layout-sider-children::-webkit-scrollbar {
    width: 0; /* Hides the scrollbar */
  }
  
  .menu-item-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
  
  .menu-icon-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .menu-icon-end {
    margin-left: auto;
  }
  
  .menu-plus-icon {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    width: 20px;
    /* border: navajowhite; */
    height: 20px;
    /* background-color: red; */
  }
  
  .menu-icon-container::after {
    content: "";
    display: block;
    width: 2px;
    height: 60px;
    background-color: black;
    /* position: absolute; */
    right: 0;
    top: 0;
  }
  
  
  .ant-menu-item-selected {
    background-color: red !important;
    color: white !important;
    font-weight: bold;
  }
  
  .ant-menu-item-selected .ant-menu-title-content {
    color: white !important;
  }
  
  .ant-menu-item-selected .menu-icon-end {
    color: white !important;
  }
  
  .ant-menu-submenu-arrow {
    display: none !important;
  }
  .ant-menu-item-only-child {
    height: 30px !important;
    margin-top: 0 !important;
    background-color: white;
    padding: 0 0px 0 30px !important;
    border-radius: 0 !important;
  }
  .ant-layout-sider .ant-menu-item:hover {
    background-color: rgb(219, 13, 13) !important;
    color: white !important;
  }
  
  .ant-menu-submenu-title {
    height: 30px !important;
    padding: 0 0px 0 30px !important;
    background-color: white;
    border-radius: 0 !important;
  }
  .ant-menu-light {
    padding-right: 5px !important;
    margin-top: 13px !important;
    /* background-color: #e21c21; */
  }
  
  .ant-menu-item:active {
    background-color: white !important;
  }
  
  .ant-menu-item-selected .menu-plus-icon {
    color: white !important;
  }
  
  .ant-menu-item-selected .menu-icon-container::after {
    background-color: white !important;
  }
  
  .ant-layout-sider-trigger {
    display: none !important;
  }
  .ant-breadcrumb {
    margin-bottom: 0 !important;
  }
  
  .ant-menu-submenu li {
    position: absolute;
    left: 0px;
  }
  .applayout-ant-sider .ant-menu-submenu .ant-menu-item {
    padding-left: 48px !important;
    /* background-color: rgb(136, 136, 136); */
    background-color: #cccccc;
    color: rgb(43, 43, 43) !important;
  }
  
  .applayout-ant-sider .ant-menu-submenu .ant-menu-item:hover {
    background-color: rgb(150, 150, 150) !important;
    color: white;
  }
  
  .applayout-ant-sider .ant-menu-submenu :hover {
    color: white;
  }
  
  .ant-menu-submenu li::before {
    content: "";
    display: block;
    width: 1px; /* Width of the line */
    height: 30px; /* Height of the line */
    background-color: rgb(255, 255, 255); /* Color of the line */
    position: absolute;
    left: 30px;
  }
  .ant-menu-submenu .ant-menu-item-selected::before {
    background-color: rgb(2, 2, 2);
  }
  
  .ant-sider-layeout {
    flex: 1 1 0% !important;
    min-height: 280px !important;
    margin-top: 69px !important;
    margin-left: 224px !important;
    margin-bottom: 15px !important;
  }
  
  @media screen and (max-width: 1366px) {
    .ant-sider-layeout {
      margin-top: 110px !important;
      margin-left: 220px !important;
      margin-bottom: 35px !important;
    }
  }
  
  .applayout-ant-sider .ant-menu-submenu .ant-menu-item.ant-menu-item-selected {
    background-color: rgb(175, 174, 174) !important;
    color: white;
  }
  
  .ant-menu-submenu .ant-menu-item ::after {
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: black;
    position: absolute;
    z-index: 10;
    right: 0;
  }
  .ant-menu-submenu .ant-menu-item-selected ::after {
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 10;
    right: 0;
  }
  
  :where(.css-dev-only-do-not-override-1uq9j6g).ant-menu-light
    .ant-menu-submenu-selected
    > .ant-menu-submenu-title,
  :where(.css-dev-only-do-not-override-1uq9j6g).ant-menu-light
    > .ant-menu
    .ant-menu-submenu-selected
    > .ant-menu-submenu-title {
    color: black;
  }
  :where(.css-dev-only-do-not-override-1v613y0).ant-menu-light{
    background: none;
  }
  
  .ant-menu-submenu-open > .ant-menu-submenu-title {
    color: black !important;
    font-weight: bold;
  }
  
  
  /* .ant-layout .ant-layout-sider {
    background: transparent !important;
  } */
  
  .ant-layout .ant-layout-header {
    height: 110px !important;
    padding: 0px !important;
    z-index: 6;
    position: fixed;
    width: 100%;
    line-height: 10px !important;
  }
 

  
  .navbar .second-cont {
    border-radius: 5px;
    line-height: none !important;
    gap: 15px;
    margin-right: 20px;
  }
  
  .navbar .second-cont .red-font {
    color: red !important;
    font-size: 14px !important;
  }
  
  .navbar .second-cont .user-detail {
    padding: 5px 10px;
    background: #e4e4e4;
    z-index: 10;
    justify-content: end;
  }
  
  .navbar .second-cont .logout-button-div {
    height: 30px;
  }
  
  .navbar .second-cont .logout-button-div .logout-button {
    height: 100%;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px gray;
    font-weight: 500;
  }